@font-face {
    font-family: 'Tienne';
    src: url('../fonts/Tienne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Tienne';
    src: url('../fonts/Quando-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'RedditSans';
    src: url('../fonts/RedditSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }